<div class="content-wrapper">
    <app-titulo titulo="Veículo" intermediario="Veículos" intermediariolink="/Veiculos" />
  <!--INICIO SECTION content-->
  <section class="content" >
    <!--INICIO PROFILE -->

    <div class="row" *ngIf="veiculo$ | async as veiculo; else loading">
      <div class="col-sm-3">
        <div class="card ">
          <div class="card-body box-profile ">
            <h3 class="profile-username text-center">{{veiculo.placa | uppercase}}</h3>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Tipo</b> <a class="float-right">{{veiculo.veiculo_tipo?.nome}}</a>
                </li>
                <li class="list-group-item">
                    <b>Marca</b> <a class="float-right">{{veiculo.modelo?.marca?.nome}}</a>
                </li>
                <li class="list-group-item">
                    <b>Modelo</b> <a class="float-right">{{veiculo.modelo?.nome}}</a>
                </li>
                <li *ngIf="veiculo.cor" class="list-group-item">
                    <b>Cor</b> <a class="float-right">{{veiculo.cor.nome}}</a>
                </li>
              <li *ngIf="veiculo.chassi" class="list-group-item">
                <b>Chassi</b> <a class="float-right">{{veiculo.chassi}}</a>
              </li>
              <li *ngIf="veiculo.renavam" class="list-group-item">
                <b>Renavam</b> <a class="float-right">{{veiculo.renavam}}</a>
              </li>
              <li *ngIf="veiculo.pessoa || veiculo.organizacao" class="list-group-item">
                <b>Proprietário</b> 
                <a class="float-right">
                  <span *ngIf="veiculo.pessoa"><a [routerLink]="['/Pessoas', veiculo.pessoa.id]">{{veiculo.pessoa.nome}}</a></span>
                  <span *ngIf="veiculo.organizacao"><a [routerLink]="['/Organizacoes', veiculo.organizacao.id]">{{veiculo.organizacao.nome}}</a></span>
                </a>
              </li>
            </ul>      
            <a [routerLink]="['Imprimir']" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>     
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card">
          
          <div class="card-header border-0 p-2">
            <ul class="nav nav-pills">
                <!--<li class="nav-item"><a class="nav-link active" href="#informacoes" data-bs-toggle="tab">Informações</a></li>-->
                <li class="nav-item"><a class="nav-link active" href="#observacao" data-bs-toggle="tab">Observação</a></li>
                <li class="nav-item"><a class="nav-link" href="#analises" data-bs-toggle="tab">Análises</a></li>
                <li class="nav-item"><a class="nav-link" href="#organizacoes" data-bs-toggle="tab">Organizações</a></li>
                <li class="nav-item"><a class="nav-link" href="#pessoas" data-bs-toggle="tab">Pessoas</a></li>
                <li class="nav-item"><a class="nav-link" href="#arquivos" data-bs-toggle="tab">Arquivos</a></li>
            </ul>
          </div>
          <div class="card-body table-responsive p-2">
              <div class="tab-content">
                <!--<div class="active tab-pane" id="informacoes">
                    <div class="row">
                        <dt class="col-sm-2">Alcunha</dt><dd class="col-sm-8">{{pessoa.alcunha}}</dd>
                    </div>
                </div>-->
                <!--INICIO TAB OBSERVACAO-->
                <div class="active tab-pane" id="observacao">
                    <div [innerHTML]="veiculo.observacao"></div>
                </div>
                <!--FIM TAB OBSERVACAO-->
                <!--INICIO TAB ANALISES-->
                <div class="tab-pane" id="analises">
                  <button *ngIf="user.perfil.veiculos_cad" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalanalises" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ANALISES-->
                  <div class="modal fade" id="modalanalises" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Análise
                          </h4>
                          <button type="button" class="close" #fecharmodalanalises id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-veiculos-analises [veiculo_id]="veiculo.id" (refresh)="sudmitAnalise()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ANALISES-->
                  <!--INICIO TABLE-->
                   <table  class="table table-hover table-head-fixed  mt-2">
                     <thead>
                       <tr>
                         <th>#</th>
                         <th>Categoria</th> 
                         <th>Tipo</th>    
                         <th>Nome</th>    
                         <th>Data</th>   
                         <th>Hora</th>   
                         <th>Opções</th>
                       </tr>
                     </thead>
                     <tbody  >
                       <tr *ngFor="let row of veiculo.analises" class="optionshover">
                         <td>{{row.pivot.id}}</td>
                         <td>{{row.analise_categoria.nome}}</td> 
                         <td>{{row.analise_tipo?.nome}}</td> 
                         <td><a  [routerLink]="['/Analises', row.id]">{{row.nome}}</a></td> 
                         <td>{{row.data | date: 'dd/MM/yyyy'}}</td> 
                         <td>{{row.hora}}</td> 
                         
                         <td>                                        
                             <a
                             *ngIf="user.perfil.veiculos_edt"
                               class="options ml-2"
                               (click)="deleteAnalise(row.pivot.id)"                           
                               title="Excluir"
                             >
                               <i
                                 class="fas fa-trash text-danger point "
                                 aria-hidden="true"
                               ></i
                             ></a>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   <!--FIM TABLE-->
                 </div>
                 <!--FIM TAB ANALISES-->
                <!--INICIO TAB PESSOAS-->
                <div class="tab-pane" id="pessoas">

                  <button *ngIf="user.perfil.veiculos_cad" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalpessoas" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL VEICULOS-->
                  <div class="modal fade" id="modalpessoas" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Pessoa
                          </h4>
                          <button type="button" class="close" #fecharmodalpessoa id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-veiculos-pessoas [veiculo_id]="veiculo.id" (refresh)="sudmitPessoa()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL VEICULOS-->

                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed  ">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nome</th> 
                        <th>CPF</th>    
                        <th>Telefone 1</th>    
                        <th>E-mail</th>   
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of veiculo.pessoas" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td><a  [routerLink]="['/Pessoas', row.id]">{{row.nome}}</a></td> 
                        <td>{{row.cpf | mask: '000.000.000-00'}}</td> 
                        <td>{{row?.telefone1}} </td> 
                        <td>{{row?.email}}</td> 
                        <td>                                        
                            <a
                            *ngIf="user.perfil.veiculos_edt"
                              class="options ml-2"
                              (click)="deletePessoa(row.pivot.id)"            
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB PESSOAS-->
                
                <!--INICIO TAB ORGANIZACOES-->
                <div class="tab-pane" id="organizacoes">
                  <button *ngIf="user.perfil.veiculos_cad" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalorganizacoes" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ORGANIZACAO-->
                  <div class="modal fade" id="modalorganizacoes" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Organização
                          </h4>
                          <button type="button" class="close" #fecharmodalorganizacoes id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-veiculos-organizacoes  [veiculo_id]="veiculo.id" (refresh)="sudmitOrganizacao()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ORGANIZACAO-->
                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed  mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Nome</th>    
                        <th>Telefone 1</th>    
                        <th>E-mail</th>   
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of veiculo.organizacoes" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.organizacao_tipo.nome}}</td> 
                        <td><a  [routerLink]="['/Organizacoes', row.id]">{{row.nome}}</a></td> 
                        <td>{{row?.telefone1}} </td> 
                        <td>{{row?.email}}</td> 
                        <td>                                        
                            <a
                            *ngIf="user.perfil.veiculos_edt"
                              class="options ml-2"
                              (click)="deleteOrganizacao(row.pivot.id)"                           
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB ORGANIZACOES-->
                <!--INICIO TAB ARQUIVOS-->
                <div class="tab-pane" id="arquivos">
                  <button *ngIf="user.perfil.veiculos_cad" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalarquivos" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ARQUIVOS-->
                  <div class="modal fade" id="modalarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Arquivo
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-veiculos-arquivos  [veiculo_id]="veiculo.id" (refresh)="sudmitArquivo()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ARQUIVOS-->
                  <!-- INICIO MODAL SHOW ARQUIVOS-->
                  <div class="modal fade" id="modalshowarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Arquivo 
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" *ngIf="arquivo" style="text-align: center; height: 650px;">   
                            <img style="height: 100%;" *ngIf="arquivo.arquivo_tipo.foto"  [src]="urlarq(arquivo)" />    
                            <iframe style="width: 100%; height: 100%;" *ngIf="arquivo.arquivo_tipo.pdf || arquivo.arquivo_tipo.texto" [src]="urlarq(arquivo)" ></iframe>
                            <iframe style="width: 100%; height: 100%;" *ngIf="arquivo.arquivo_tipo.link" [src]="arquivo" ></iframe>
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL SHOW ARQUIVOS-->
                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed  mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Nome</th>
                        <th>Arquivo</th>                        
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of veiculo.arquivos" class="optionshover">
                        <td>{{row.id}}</td>
                        <td>{{row.arquivo_tipo.nome}}</td> 
                        <td>{{row.nome}}</td> 
                        <td>
                          <a style="cursor: pointer;" *ngIf="row.arquivo_tipo.pdf || row.arquivo_tipo.texto || row.arquivo_tipo.link" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            {{row.arquivo}}
                          </a>  
                          <a style="cursor: pointer;" *ngIf="row.arquivo_tipo.foto" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            <img  width="50px" [src]="urlarq(row)" /> 
                          </a>      
                          <!--<a (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">{{row.nome}}</a>-->
                        </td> 
                        <td>                                        
                            <a
                            *ngIf="user.perfil.veiculos_edt"
                              class="options ml-2"
                              (click)="deleteArquivo(row.id)"                           
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB ARQUIVOS-->
              </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template  #loading>
      <div class="text-center">
        <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
        <h2 >Veículo não encontrado</h2>      
        <a routerLink="['/Inicio']">Voltar para o Início</a>
      </div>
      
    </ng-template>

    <!--FIM PROFILE-->
  </section>
  <!--FIM SECTION content-->
</div>
