<div class="content-wrapper">
    <app-titulo titulo="Investigação Social" intermediario="Investigações Sociais" intermediariolink="/InvestigacoesSociais" />
  <!--INICIO SECTION content-->
  <section class="content" >
    <!--INICIO PROFILE -->

    <div class="row" *ngIf="investigacaosocial$ | async as investigacao; else loading">
      <div class="col-sm-3">
        <div class="card ">
          <div class="card-body box-profile ">
            <div class="text-center">
             <img
              
                style="height: 200px; width: 200px;"
                *ngIf="investigacao.pessoa.foto"
                class="profile-user-img img-fluid img-circle"
                [src]="urlfoto(investigacao.pessoa)"
                alt="User profile picture"
              />
            </div>
            
            <h3 class="profile-username text-center">{{investigacao.pessoa.nome}}</h3>
            <p *ngIf="investigacao.pessoa.alcunha" class="text-muted text-center">{{investigacao.pessoa.alcunha}}</p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>CPF</b> <a class="float-right">{{investigacao.pessoa.cpf | mask: '000.000.000-00'}}</a>
              </li>
              <li *ngIf="investigacao.pessoa.alcunha" class="list-group-item">
                <b>Data Nascimento</b> <a class="float-right">{{investigacao.pessoa.data_nascimento | date: 'dd/MM/yyyy'}}</a>
              </li>
              <li *ngIf="investigacao.pessoa.sexo_id" class="list-group-item">
                <b>Sexo</b> <a class="float-right">{{investigacao.pessoa.sexo?.nome}}</a>
              </li>              
              <li *ngIf="investigacao.pessoa.email" class="list-group-item">
                <b>E-mail</b> <a class="float-right">{{investigacao.pessoa.email}}</a>
              </li> 
              <li *ngIf="investigacao.pessoa.telefone1" class="list-group-item">
                <b>Telefone 1</b> <a class="float-right">{{investigacao.pessoa.telefone1}}</a>
              </li> 
              <li *ngIf="investigacao.pessoa.telefone2" class="list-group-item">
                <b>Telefone 2</b> <a class="float-right">{{investigacao.pessoa.telefone2}}</a>
              </li> 
              <li *ngIf="investigacao.pessoa.influencia_id" class="list-group-item">
                <b>Influência</b> <a class="float-right">{{investigacao.pessoa.influencia?.nome}}</a>
              </li>  
              
              <li *ngIf="investigacao.graduacao_id" class="list-group-item">
                <b>Graduação</b> <a class="float-right">{{investigacao.graduacao?.nome}}</a>
              </li>   
              <li *ngIf="investigacao.nome_guerra" class="list-group-item">
                <b>Nome de Guerra</b> <a class="float-right">{{investigacao.nome_guerra}}</a>
              </li> 
              <li *ngIf="investigacao.numeral" class="list-group-item">
                <b>Numeral</b> <a class="float-right">{{investigacao.numeral}}</a>
              </li> 
              <li *ngIf="investigacao.matricula" class="list-group-item">
                <b>Matrícula</b> <a class="float-right">{{investigacao.matricula | mask: '000.000-0A'}}</a>
              </li> 
              
              <li *ngIf="investigacao.data_ingresso" class="list-group-item">
                <b>Data Ingresso</b> <a class="float-right">{{investigacao.data_ingresso | date: 'dd/MM/yyyy'}}</a>
              </li> 
              <li *ngIf="investigacao.companhia_id" class="list-group-item">
                <b>Lotação</b> <a class="float-right">{{investigacao.companhia?.abreviatura}} / {{investigacao.companhia?.batalhao?.abreviatura}}</a>
              </li> 
              <li *ngIf="investigacao.situacao_funcional_id" class="list-group-item">
                <b>Situação Funcional</b> <a class="float-right">{{investigacao.situacao_funcional?.nome}} </a>
              </li> 
              <li *ngIf="investigacao.situacao_tipo_id" class="list-group-item">
                <b>Tipo de Situação</b> <a class="float-right">{{investigacao.situacao_tipo?.nome}} </a>
              </li> 
              <li *ngIf="investigacao.comportamento_id" class="list-group-item">
                <b>Comportamento</b> <a class="float-right">{{investigacao.comportamento?.nome}} </a>
              </li> 
            </ul>      
            <a [routerLink]="['Imprimir']" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>     
          </div>

          
        </div>

        <div class="card ">
          <div class="card-header border-0">Vínculos</div>
          <div class="card-body box-profile">
            <ul class="list-unstyled">
                <li *ngFor="let vinculo of investigacao.pessoa.vinculos"><strong>{{vinculo.vinculo_tipo.nome}}: </strong>{{vinculo.nome}} <span *ngIf="vinculo.cpf">({{vinculo.cpf}})</span></li>
            </ul>
        </div>
          <div class="card-header border-0">Redes Sociais</div>
          <div class="card-body box-profile">
              <ul class="list-unstyled">
                  <li *ngFor="let rede of investigacao.pessoa.redes_sociais"><a [href]="rede.pivot.nome" target="_blank">{{rede.nome}}</a></li>
              </ul>
          </div>
        </div>

        <div class="card " *ngIf="investigacao.pessoa.rua">
          <div class="card-header border-0">Endereço</div>
          <div class="card-body box-profile">
              {{investigacao.pessoa.rua}}
              <span *ngIf="investigacao.pessoa.numero">, {{investigacao.pessoa.numero}}</span>
              <span *ngIf="investigacao.pessoa.bairro">, {{investigacao.pessoa.bairro}}</span>
              <span *ngIf="investigacao.pessoa.complemento">, {{investigacao.pessoa.complemento}}</span>
              <span *ngIf="investigacao.pessoa.cidade">, {{investigacao.pessoa.cidade.nome}} - {{investigacao.pessoa.cidade.estado.uf}}</span><br />
              <a target="_blank" [href]="googlemaps(investigacao.pessoa)">Abrir no google maps</a>
              <!--<iframe *ngIf="investigacao.pessoa.rua" style="width: 100%; height: 300px;" id="gmap_canvas" [src]="googlemaps(investigacao.pessoa)" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
          </div>
        </div>

      </div>

      <div class="col-sm-9">
        <div class="card">
          
          <div class="card-header border-0 p-2">
            <ul class="nav nav-pills">
                <!--<li class="nav-item"><a class="nav-link active" href="#informacoes" data-bs-toggle="tab">Informações</a></li>-->
                <li class="nav-item"><a class="nav-link active" href="#observacao" data-bs-toggle="tab">Observação</a></li>
                <li class="nav-item"><a class="nav-link" href="#lotacoes" data-bs-toggle="tab">Lotações</a></li>                
                <li class="nav-item"><a class="nav-link" href="#boletins" data-bs-toggle="tab">Boletins</a></li>                
                <li class="nav-item"><a class="nav-link" href="#cgd" data-bs-toggle="tab">CGD</a></li>   
                <li class="nav-item"><a class="nav-link" href="#sip" data-bs-toggle="tab">SIP</a></li>                
                <li class="nav-item"><a class="nav-link" href="#sinesp" data-bs-toggle="tab">Sinesp</a></li>        
                <li class="nav-item"><a class="nav-link" href="#tjce" data-bs-toggle="tab">TJCE</a></li>                
                <li class="nav-item"><a class="nav-link" href="#fontesabertas" data-bs-toggle="tab">Fontes Abertas</a></li>       
                <li class="nav-item"><a class="nav-link" href="#informacoesadc" data-bs-toggle="tab">Informações Adicionais</a></li>         
                <li class="nav-item"><a class="nav-link" href="#veiculos" data-bs-toggle="tab">Veículos</a></li>    
                <li class="nav-item"><a class="nav-link" href="#arquivos" data-bs-toggle="tab">Arquivos</a></li>
            </ul>
          </div>
          <div class="card-body table-responsive p-2">
              <div class="tab-content">
                
                <!--INICIO TAB OBSERVACAO-->
                <div class="active tab-pane" id="observacao">
                    <div [innerHTML]="investigacao.pessoa.observacao"></div>
                </div>
                <!--FIM TAB OBSERVACAO-->

                <!--INICIO TAB LOTACOES-->
                <div class="tab-pane" id="lotacoes">
                    <div [innerHTML]="investigacao.lotacoes"></div>
                </div>
                <!--FIM TAB LOTACOES-->

                <!--INICIO TAB boletins-->
                <div class="tab-pane" id="boletins">
                    <div [innerHTML]="investigacao.boletins"></div>
                </div>
                <!--FIM TAB boletins-->

                 <!--INICIO TAB cgd-->
                 <div class="tab-pane" id="cgd">
                    <div [innerHTML]="investigacao.cgd"></div>
                </div>
                <!--FIM TAB cgd-->

                <!--INICIO TAB sip-->
                <div class="tab-pane" id="sip">
                    <div [innerHTML]="investigacao.sip"></div>
                </div>
                <!--FIM TAB sip-->

                <!--INICIO TAB sinesp-->
                <div class="tab-pane" id="sinesp">
                    <div [innerHTML]="investigacao.sinesp"></div>
                </div>
                <!--FIM TAB sinesp-->

                <!--INICIO TAB tjce-->
                <div class="tab-pane" id="tjce">
                    <div [innerHTML]="investigacao.tjce"></div>
                </div>
                <!--FIM TAB tjce-->

                 <!--INICIO TAB fontesabertas-->
                 <div class="tab-pane" id="fontesabertas">
                    <div [innerHTML]="investigacao.fontes_abertas"></div>
                </div>
                <!--FIM TAB fontesabertas-->

                 <!--INICIO TAB informacoesadc-->
                 <div class="tab-pane" id="informacoesadc">
                    <div [innerHTML]="investigacao.informacoes_adicionais"></div>
                </div>
                <!--FIM TAB informacoesadc-->                
              
                <!--INICIO TAB VEICULOS-->
                <div class="tab-pane" id="veiculos">

                  <button *ngIf="user.perfil.pessoas_edt" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalveiculos" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL VEICULOS-->
                  <div class="modal fade" id="modalveiculos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Veículo
                            <button (click)="cadveiculo = true;" class="btn btn-outline-primary" title="Cadastrar"><i class="fa fa-plus"></i></button>
                          </h4>
                          <button type="button" class="close" #fecharmodalveiculo id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-veiculos *ngIf="cadveiculo" (refresh)="cadastroVeiculo()" (cancel)="cancelVeiculo()"/>
                            <formulario-pessoas-veiculos *ngIf="!cadveiculo" [pessoa_id]="investigacao.pessoa_id" (refresh)="sudmitVeiculo()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL VEICULOS-->

                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed  ">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Marca - Modelo</th>    
                        <th>Placa</th>    
                        <th>Chassi</th>   
                        <th>Renavam</th>   
                        <th>Proprietário</th>                      
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of investigacao.pessoa.veiculos" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.veiculo_tipo.nome}}</td> 
                        <td>{{row.modelo?.marca?.nome}} - {{row.modelo?.nome}}</td> 
                        <td><a  [routerLink]="['/Veiculos', row.id]">{{row.placa}}</a></td> 
                        <td>{{row.chassi}}</td> 
                        <td>{{row.renavam}}</td> 
                        <td>
                          <span *ngIf="row.pessoa"><a [routerLink]="['/Pessoas', row.pessoa.id]">{{row.pessoa.nome}}</a></span>
                          <span *ngIf="row.organizacao"><a [routerLink]="['/Organizacoes', row.organizacao.id]">{{row.organizacao.nome}}</a></span>
                          
                        </td> 
                        <td>                                        
                            <a
                            *ngIf="user.perfil.pessoas_edt"
                              class="options ml-2"
                              (click)="deleteVeiculo(row.pivot.id)"            
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB VEICULOS-->
                
                
                <!--INICIO TAB ARQUIVOS-->
                <div class="tab-pane" id="arquivos">
                  <button *ngIf="user.perfil.pessoas_edt" class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalarquivos" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ARQUIVOS-->
                  <div class="modal fade" id="modalarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Arquivo
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ARQUIVOS-->
                  <!-- INICIO MODAL SHOW ARQUIVOS-->
                  <div class="modal fade" id="modalshowarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Arquivo 
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" *ngIf="arquivo" style="text-align: center; height: 650px;">   
                            <img style="height: 100%;" *ngIf="arquivo.arquivo_tipo.foto"  [src]="urlarq(arquivo)" />    
                            <iframe style="width: 100%; height: 100%;" *ngIf="arquivo.arquivo_tipo.pdf || arquivo.arquivo_tipo.texto" [src]="urlarq(arquivo)" ></iframe>
                            <iframe style="width: 100%; height: 100%;" *ngIf="arquivo.arquivo_tipo.link" [src]="arquivo" ></iframe>
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL SHOW ARQUIVOS-->
                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed  mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Nome</th>   
                        <th>Arquivo</th>                        
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of investigacao.pessoa.arquivos" class="optionshover">
                        <td>{{row.id}}</td>
                        <td>{{row.arquivo_tipo.nome}}</td> 
                        <td>{{row.nome}}</td> 
                        <td>
                          <a style="cursor: pointer;" *ngIf="row.arquivo_tipo.pdf || row.arquivo_tipo.texto || row.arquivo_tipo.link" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            {{row.arquivo}}
                          </a>  
                          <a style="cursor: pointer;" *ngIf="row.arquivo_tipo.foto" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            <img  width="50px" [src]="urlarq(row)" /> 
                          </a>      
                          <!--<a (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">{{row.nome}}</a>-->
                        </td> 
                        <td>                                        
                            <a
                            *ngIf="user.perfil.pessoas_edt"
                              class="options ml-2"
                              (click)="deleteArquivo(row.id)"                           
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB ARQUIVOS-->
              </div>
          </div>
        </div>
      </div>

    

    

    </div>


    <ng-template  #loading>
      <div class="text-center">
        <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
        <h2 >Investigação Social não encontrado</h2>      
        <a routerLink="['/Inicio']">Voltar para o Início</a>
      </div>
      
    </ng-template>

    <!--FIM PROFILE-->
  </section>
  <!--FIM SECTION content-->
</div>
