<div class="content-wrapper">
    <app-titulo titulo="Perfis" [primario]="false" />
  
    <!--INICIO SECTION content-->
    <section class="content">
      <!--INICIO DIV ROW-->
      <div class="row">
        <!--INICIO DIV col-sm 3 quant dia-->
        <div class="col-sm-2">
         
        </div>
        <!--FIM DIV col-sm 3 quant dia-->
        <!--INICIO DIV col-sm 3 acessos no mes-->
        <div class="col-sm-2">
          
        </div>
        <!--FIM DIV col-sm 3 acessos no mes-->
      </div>
      <!--Fim DIV ROW-->
  
      <!--INICIO DIV ROW INFORMACOES-->
      <div class="row">
        
        <!--INICIO COL SM 4 POR SETORES-->
        <div class="col-sm-4">
          
        </div>
        <!--FIM COL SM 4 POR SETORES-->
        <!--INICIO COL SM 4 POR DIA-->
        <div class="col-sm-6">
          
        </div>
        <!--FIM COL SM 4 POR DIA-->
      </div>
      <!--FIM DIV ROW INFORMACOES-->
    </section>
    <!--FIM SECTION content-->
  </div>