<div class="content-wrapper">
    <app-titulo titulo="Veículos" [primario]="false" />
  
    <!--INICIO SECTION content-->
    <section class="content">

      <!--INICIO CARD-->
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <button *ngIf="user.perfil.veiculos_cad" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalcad" title="Cadastrar"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="card-body table-responsive">
        
          <!--INICIO TABLE-->
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-head-fixed">
            <thead>
              <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Marca / Modelo</th>
                <th>Placa</th>
                <th>Chassi</th>
                <th>Renavam</th>
                <th>Cor</th>
                <th>Proprietário</th>
                <th>Informações</th>
                <th>Opções</th>
              </tr>
            </thead>

            <tbody *ngIf="data$ | async as data; else loading" >
              <tr *ngFor="let row of data" class="optionshover">
                <td>{{row.id}}</td>
                <td>{{row.veiculo_tipo.nome}}</td>
                <td>{{row.modelo?.marca?.nome}} {{row.modelo?.nome}}</td>
                <td><a [routerLink]="['/Veiculos', row.id]">{{row.placa | uppercase}}</a></td>
                <td>{{row?.chassi}}</td>
                <td>{{row?.renavam}}</td>    
                <td>{{row.cor?.nome}}</td>     
                <td>
                  <span *ngIf="row.pessoa"><a [routerLink]="['/Pessoas', row.pessoa.id]">{{row.pessoa.nome}}</a></span>
                  <span *ngIf="row.organizacao"><a [routerLink]="['/Organizacoes', row.organizacao.id]">{{row.organizacao.nome}}</a></span>
                </td>   
                <td class="text-nowrap">                  
                  <i
                    (click)="showInformacoes(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalanalises"
                    title="Análises"
                    class="fa fa-warning text-primary point ml-2"
                    aria-hidden="true"
                  ></i>
                  <i
                    (click)="showInformacoes(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalorganizacoes"
                    title="Organizações"
                    class="fa fa-building text-primary point ml-2"
                    aria-hidden="true"
                  ></i>
                  <i
                    (click)="showInformacoes(row)"
                    data-bs-toggle="modal"
                    data-bs-target="#modalpessoas"
                    title="Pessoas"
                    class="fa fa-users text-primary point ml-2 "
                    aria-hidden="true"
                  ></i>
                </td>       
                <td class="text-nowrap">          
                  <a            
                  *ngIf="user.perfil.veiculos" 
                   class="options ml-2"
                    [routerLink]="[row.id, 'Imprimir']"
                  
                   title="Imprimir"
                 >
                   <i
                     class="fas fa-print text-primary point"
                     aria-hidden="true"
                   ></i>
                 </a>              
                  <a             
                     *ngIf="user.perfil.veiculos_edt"
                      class="options ml-2"
                      (click)="edit(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#modalcad"
                      title="Editar"
                    >
                      <i
                        class="fas fa-edit text-primary point"
                        aria-hidden="true"
                      ></i>
                    </a>
                    <a
                      *ngIf="user.perfil.veiculos_del"
                      class="options ml-2"
                      (click)="delete(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#modaldel"
                      title="Excluir"
                    >
                      <i
                        class="fas fa-trash text-danger point "
                        aria-hidden="true"
                      ></i
                    ></a>
                </td>
              </tr>
            </tbody>

            <!--INICIO NGTEMPLATE-->
            <ng-template #loading>
              <tbody class="text-center">
                <!-- INICIO TR -->
                <tr>
                  <td colspan="100%">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                  </td>
                </tr>
                <!-- FIM TR -->
              </tbody>
            </ng-template>
            <!--FIM NGTEMPLATE-->
          </table>
          <!--FIM TABLE-->
        
        </div>
      </div>
      <!--FIM CARD-->
      
      <!-- INICIO MODAL CADASTRO-->
      <div class="modal fade" id="modalcad" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">Cadastrar</h4>
              <button type="button" #closeModalCadastro class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <formulario-veiculos (refresh)="submitCadastro()" (cancel)="cancelCadastro()" />
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL CADASTRO-->

      <!-- INICIO MODAL EXCLUIR-->
      <div class="modal fade" id="modaldel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">Excluir</h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="excluir">
              <p>Tem certeza que deseja excluir: <strong>{{excluir.placa}}</strong></p>
            </div>
            <div class="modal-footer ">
              <a type="button" class="btn btn-link " data-bs-dismiss="modal">Fechar</a>
              <button (click)="confirm()" data-bs-dismiss="modal" type="button" class="btn btn-danger">Excluir</button>
            </div>
          </div>
        
        </div>
        
      </div>
      <!--FIM MODAL EXCLUIR-->    
      
      <!-- INICIO MODAL ANALISES-->
      <div class="modal fade" id="modalanalises" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">
                Cadastrar Análise 
              </h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="informacoes">
                <formulario-veiculos-analises *ngIf="user.perfil.veiculos_cad" [veiculo_id]="informacoes.id" (refresh)="refresh2()" />

                <!--INICIO TABLE-->
                <table  class="table table-hover table-head-fixed  mt-2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Categoria</th> 
                      <th>Tipo</th>    
                      <th>Nome</th>    
                      <th>Data</th>   
                      <th>Hora</th>   
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="informacoes" >
                    <tr *ngFor="let row of informacoes.analises" class="optionshover">
                      <td>{{row.pivot.id}}</td>
                      <td>{{row.analise_categoria.nome}}</td> 
                      <td>{{row.analise_tipo?.nome}}</td> 
                      <td><a data-bs-dismiss="modal" [routerLink]="['/Analises', row.id]">{{row.nome}}</a></td> 
                      <td>{{row.data | date: 'dd/MM/yyyy'}}</td> 
                      <td>{{row.hora}}</td> 
                      <td>                                        
                          <a
                          *ngIf="user.perfil.veiculos_edt"
                            class="options ml-2"
                            (click)="deleteAnalise(row.pivot.id)"                           
                            title="Excluir"
                          >
                            <i
                              class="fas fa-trash text-danger point "
                              aria-hidden="true"
                            ></i
                          ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--FIM TABLE-->
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL ANALISES-->

      <!-- INICIO MODAL ORGANIZACOES-->
      <div class="modal fade" id="modalorganizacoes" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">
                Cadastrar Organização 
              </h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="informacoes">
                <formulario-veiculos-organizacoes *ngIf="user.perfil.veiculos_cad" [veiculo_id]="informacoes.id" (refresh)="refresh2()" />

                <!--INICIO TABLE-->
                <table  class="table table-hover table-head-fixed  mt-2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Tipo</th> 
                      <th>Nome</th>    
                      <th>Telefone 1</th>    
                      <th>E-mail</th>   
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="informacoes" >
                    <tr *ngFor="let row of informacoes.organizacoes" class="optionshover">
                      <td>{{row.pivot.id}}</td>
                      <td>{{row.organizacao_tipo.nome}}</td> 
                      <td><a data-bs-dismiss="modal" [routerLink]="['/Organizacoes', row.id]">{{row.nome}}</a></td> 
                      <td>{{row?.telefone1}} </td> 
                      <td>{{row?.email}}</td> 
                      <td>                                        
                          <a
                          *ngIf="user.perfil.veiculos_edt"
                            class="options ml-2"
                            (click)="deleteOrganizacao(row.pivot.id)"                           
                            title="Excluir"
                          >
                            <i
                              class="fas fa-trash text-danger point "
                              aria-hidden="true"
                            ></i
                          ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--FIM TABLE-->
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL ORGANIZACOES-->

      <!-- INICIO MODAL PESSOAS-->
      <div class="modal fade" id="modalpessoas" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">
                Cadastrar Pessoa 
              </h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="informacoes">
                <formulario-veiculos-pessoas *ngIf="user.perfil.veiculos_cad" [veiculo_id]="informacoes.id" (refresh)="refresh2()" />

                <!--INICIO TABLE-->
                <table  class="table table-hover table-head-fixed  mt-2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nome</th> 
                      <th>CPF</th>    
                      <th>Telefone 1</th>    
                      <th>E-mail</th>   
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="informacoes" >
                    <tr *ngFor="let row of informacoes.pessoas" class="optionshover">
                      <td>{{row.pivot.id}}</td>
                      <td><a data-bs-dismiss="modal" [routerLink]="['/Pessoas', row.id]">{{row.nome}}</a></td> 
                      <td>{{row.cpf | mask: '000.000.000-00'}}</td> 
                      <td>{{row?.telefone1}} </td> 
                      <td>{{row?.email}}</td> 
                      <td>                                        
                          <a
                          *ngIf="user.perfil.veiculos_edt"
                            class="options ml-2"
                            (click)="deletePessoa(row.pivot.id)"                           
                            title="Excluir"
                          >
                            <i
                              class="fas fa-trash text-danger point "
                              aria-hidden="true"
                            ></i
                          ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--FIM TABLE-->
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL PESSOAS-->
      
    </section>
    <!--FIM SECTION content-->
  </div>