<div *ngIf="pessoa$ | async as pessoa; else loading">
    <div
  class="page-header"
  style="text-align: center; margin-bottom: 10px"
  
>
  <img src="assets/cabecalho.png" class="cabecalho" />
  <br />
  <div class="text-center">
    <img
    
      style="height: 200px; width: 200px;"
      *ngIf="pessoa.foto"
      class="profile-user-img img-fluid img-circle"
      [src]="urlfoto(pessoa)"
      alt="User profile picture"
    />
  </div>
  <h4>
    
    {{ pessoa.nome }}
  </h4>
</div>

<div class="page-footer">
  <div class="row rodape2" *ngIf="user">
    <div class="col-sm-4 text-center"></div>
    <div class="col-sm-4 text-center">
      <!--<p>
        1ª CPG – CM<br />
        Rua Ten. Amauri Pio, 168 - Meireles | CEP: 60.000-000 Fortaleza / CE
        <br />
        Fones: 85 40010001 | E-mail: email@email.com<br />
        <b>“Raça de Fortes, Povo de Bravos”</b>
      </p>-->
    </div>
    <div class="col-sm-4">
      <p>
        <b>Usuário:</b> {{ user.nome }} <br />
        <b>Data:</b> {{ date | date : "dd/MM/yyyy HH:mm" }}
      </p>
    </div>
  </div>
  <img src="assets/rodape.png" class="rodape" />
</div>

<table style="width: 100%; min-width: 100%" >
  <thead class="thead">
    <tr>
      <td>
        <!--place holder for the fixed-position header-->
        <div class="page-header-space"></div>
      </td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <!--*** CONTENT GOES HERE ***
          <div class="page">PAGE 1</div>
          <div class="page">PAGE 2</div>-->
          <!--INICIO PAGE 1-->
        <div class="page">
          <div class="noprint text-center">
            <img src="assets/cabecalho.png" class="cabecalho" />
            <div class="text-center">
              <img
              
                style="height: 200px; width: 200px;"
                *ngIf="pessoa.foto"
                class="profile-user-img img-fluid img-circle"
                [src]="urlfoto(pessoa)"
                alt="User profile picture"
              />
            </div>
            <h4 style="margin-top: 40px">
              {{ pessoa.nome }}
            </h4>
          </div>

          <!--DIV 1-->
          <div style="margin-top: 20px" class="row">
            <div class="col-sm-3">
              <b>CPF:</b> {{ pessoa.cpf | mask : "000.000.000-00" }}
            </div>
            <div class="col-sm-3">
              <b>Data Nascimento:</b> {{ pessoa?.data_nascimento | date : "dd/MM/yyyy" }}
            </div>
            <div class="col-sm-3">
                <b>Sexo:</b> {{ pessoa.sexo?.nome }}
            </div>
            <div class="col-sm-3">
                <b>Alcunha:</b> {{ pessoa.alcunha }}
            </div>
          </div>
            <!--DIV 1-->
            <!--DIV 2-->
          <div class="row">
              <div class="col-sm-6">
                <b>Mãe:</b> {{ pessoa.mae }}
              </div>
              <div class="col-sm-6">
                <b>Pai:</b> {{ pessoa.pai }}
              </div>
          </div>
          <!--DIV 2-->
          <!--DIV 3-->
          <div class="row">
            <div class="col-sm-3">
              <b>Influência:</b> {{ pessoa.influencia?.nome }}
            </div>
            <div class="col-sm-3">
              <b>Telefone 1:</b> {{ pessoa?.telefone1  }}
            </div>
            <div class="col-sm-3">
                <b>Telefone 2:</b> {{ pessoa.telefone2 }}
            </div>
            <div class="col-sm-3">
                <b>E-mail:</b> {{ pessoa.email }}
            </div>
          </div>
          <!--DIV 3-->

          <div style="margin-top: 40px" [innerHTML]="pessoa.observacao"></div>
        </div>
        <!--FIM PAGE 1-->
         <!--INICIO PAGE 2 ANALISES-->
         <div class="page">
            <div class=" text-center">
                <h4 style="margin-top: 30px">
                    Análises
                </h4>
            </div>
            <!--DIV 1 -->
            <div style="margin-top: 20px" class="row">
                <!--INICIO TABLE-->
                <table  class="table  table-head-fixed text-nowrap mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Categoria</th> 
                        <th>Tipo</th>    
                        <th>Nome</th>    
                        <th>Data</th>   
                        <th>Hora</th>   
                        <th>Líder</th> 
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of pessoa.analises" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.analise_categoria.nome}}</td> 
                        <td>{{row.analise_tipo?.nome}}</td> 
                        <td>{{row.nome}}</td> 
                        <td>{{row.data | date: 'dd/MM/yyyy'}}</td> 
                        <td>{{row.hora}}</td> 
                        <td>
                           <span *ngIf="row.pivot.lider">Sim</span>
                         </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
            </div>
            <!--DIV 1-->
        </div>
        <!--FIM PAGE 2 ANALISES-->
        <!--INICIO PAGE 3 ORGANIZACOES-->
        <div class="page">
            <div class=" text-center">
                <h4 style="margin-top: 30px">
                    Organizações
                </h4>
            </div>
            <!--DIV 1 -->
            <div style="margin-top: 20px" class="row">
                <!--INICIO TABLE-->
                <table  class="table  table-head-fixed text-nowrap mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Nome</th>    
                        <th>Telefone 1</th>    
                        <th>E-mail</th>   
                        <th>Líder</th>   
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of pessoa.organizacoes" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.organizacao_tipo.nome}}</td> 
                        <td>{{row.nome}}</td> 
                        <td>{{row?.telefone1}} </td> 
                        <td>{{row?.email}}</td> 
                        <td>
                          <span *ngIf="row.pivot.lider">Sim</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
            </div>
            <!--DIV 1-->
        </div>
        <!--FIM PAGE 3 ORGANIZACOES-->
        <!--INICIO PAGE 4 VEICULOS-->
        <div class="page">
            <div class=" text-center">
                <h4 style="margin-top: 30px">
                    Veículos
                </h4>
            </div>
            <!--DIV 1 -->
            <div style="margin-top: 20px" class="row">
                <!--INICIO TABLE-->
                <table  class="table  table-head-fixed text-nowrap ">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Marca - Modelo</th>    
                        <th>Placa</th>    
                        <th>Chassi</th>   
                        <th>Renavam</th>   
                        <th>Pessoa / Organização</th>                      
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of pessoa.veiculos" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.veiculo_tipo.nome}}</td> 
                        <td>{{row.modelo?.marca?.nome}} - {{row.modelo?.nome}}</td> 
                        <td>{{row.placa}}</td> 
                        <td>{{row.chassi}}</td> 
                        <td>{{row.renavam}}</td> 
                        <td>
                          <span *ngIf="row.pessoa">{{row.pessoa.nome}}</span>
                          <span *ngIf="row.organizacao">{{row.organizacao.nome}}</span>
                        </td> 
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
            </div>
            <!--DIV 1-->
        </div>
        <!--FIM PAGE 4 VEICULOS-->
        <!--INICIO PAGE 5 ARQUIVOS-->
        <div class="page">
            <div class=" text-center">
                <h4 style="margin-top: 30px">
                    Arquivos
                </h4>
            </div>
            <!--DIV 1 -->
            <div style="margin-top: 20px" class="row">
                <!--INICIO TABLE-->
                <table  class="table  table-head-fixed text-nowrap mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Arquivo</th>                        
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of pessoa.arquivos" class="optionshover">
                        <td>{{row.id}}</td>
                        <td>{{row.arquivo_tipo.nome}}</td> 
                        <td>
                          <a *ngIf="row.arquivo_tipo_id == 1"  data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            {{row.nome}}
                          </a>  
                          <a *ngIf="row.arquivo_tipo_id == 2"  data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            <img  width="100px" [src]="urlarq(row)" /> 
                          </a>      
                          <!--<a (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">{{row.nome}}</a>-->
                        </td> 
                        
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
            </div>
            <!--DIV 1-->
        </div>
        <!--FIM PAGE 5 ARQUIVOS-->
      </td>
    </tr>
  </tbody>

  <tfoot class="tfoot">
    <tr>
      <td>
        <!--place holder for the fixed-position footer-->
        <div class="page-footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>
</div>

<ng-template  #loading>
    <div class="text-center">
      <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
      <h2 >Pessoa não encontrada</h2>      
      <a routerLink="['/Inicio']">Voltar para o Início</a>
    </div>
    
  </ng-template>
