<form  [formGroup]="form" (ngSubmit)="cadastrar()" >
    <div class="row">
        <app-input-text class="col-sm-4" formControlName="nome" label="Nome" id="nome" tipo="text" />        
    </div>

    <!--inicio permissos geral-->
    <div class="row" >
        

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="administrador" formControlName="administrador">
                <label class="form-check-label" for="administrador">Administrador</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="gestor" formControlName="gestor">
                <label class="form-check-label" for="gestor">Gestor</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="restrito" formControlName="restrito">
                <label class="form-check-label" for="restrito">Restrito</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="relatorios" formControlName="relatorios">
                <label class="form-check-label" for="relatorios">Relatórios</label>
            </div>
        </div>
    </div>
    <!--fim permissos geral-->


    <!--inicio permissos analises-->
    <div class="row" >
        <h5>Análises</h5>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="analises" formControlName="analises">
                <label class="form-check-label" for="analises">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="analises_cad" formControlName="analises_cad">
                <label class="form-check-label" for="analises_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="analises_edt" formControlName="analises_edt">
                <label class="form-check-label" for="analises_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="analises_del" formControlName="analises_del">
                <label class="form-check-label" for="analises_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos analises-->

    <!--inicio permissos investigacoes_sociais-->
    <div class="row mt-2">
        <h5>Investigações Sociais</h5>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="investigacoes_sociais" formControlName="investigacoes_sociais">
                <label class="form-check-label" for="investigacoes_sociais">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="investigacoes_sociais_cad" formControlName="investigacoes_sociais_cad">
                <label class="form-check-label" for="investigacoes_sociais_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="investigacoes_sociais_edt" formControlName="investigacoes_sociais_edt">
                <label class="form-check-label" for="investigacoes_sociais_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="investigacoes_sociais_del" formControlName="investigacoes_sociais_del">
                <label class="form-check-label" for="investigacoes_sociais_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos investigacoes_sociais-->

    <!--inicio permissos organizacoes-->
    <div class="row mt-2">
        <h5>Organizações</h5>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="organizacoes" formControlName="organizacoes">
                <label class="form-check-label" for="organizacoes">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="organizacoes_cad" formControlName="organizacoes_cad">
                <label class="form-check-label" for="organizacoes_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="organizacoes_edt" formControlName="organizacoes_edt">
                <label class="form-check-label" for="organizacoes_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="organizacoes_del" formControlName="organizacoes_del">
                <label class="form-check-label" for="organizacoes_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos organizacoes-->

    <!--inicio permissos pessoas-->
    <div class="row mt-2">
        <h5>Pessoas</h5>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas" formControlName="pessoas">
                <label class="form-check-label" for="pessoas">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas_cad" formControlName="pessoas_cad">
                <label class="form-check-label" for="pessoas_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas_edt" formControlName="pessoas_edt">
                <label class="form-check-label" for="pessoas_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="pessoas_del" formControlName="pessoas_del">
                <label class="form-check-label" for="pessoas_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos pessoas-->

    

    <!--inicio permissos users-->
    <div class="row mt-2">
        <h5>Usuários</h5>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="users" formControlName="users">
                <label class="form-check-label" for="users">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="users_cad" formControlName="users_cad">
                <label class="form-check-label" for="users_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="users_edt" formControlName="users_edt">
                <label class="form-check-label" for="users_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="users_del" formControlName="users_del">
                <label class="form-check-label" for="users_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos users-->

    <!--inicio permissos veiculos-->
    <div class="row mt-2">
        <h5>Veículos</h5>

        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos" formControlName="veiculos">
                <label class="form-check-label" for="veiculos">Consulta</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_cad" formControlName="veiculos_cad">
                <label class="form-check-label" for="veiculos_cad">Cadastro</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_edt" formControlName="veiculos_edt">
                <label class="form-check-label" for="veiculos_edt">Edição</label>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked="" id="veiculos_del" formControlName="veiculos_del">
                <label class="form-check-label" for="veiculos_del">Exclusão</label>
            </div>
        </div>
    </div>
    <!--fim permissos veiculos-->

    <div class="d-flex justify-content-end">
      
        <a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
        <button [disabled]="form.invalid" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>