<div class="content-wrapper">
  <app-titulo titulo="Início" [primario]="true" />
  <!--INICIO SECTION content-->
  <section class="content">
    <!--INICIO DIV ROW-->
    <div class="row">
      <!--INICIO DIV col-sm 3 quant analises mes-->
      <div class="col-sm-3">
        <!--INICIO INFO BOX-->
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"
            ><i class="fa fa-warning"></i
          ></span>
          <div class="info-box-content">
            <span class="info-box-text">Análises no mês</span>
            <span class="info-box-number">
              {{quantanalises}}
              
            </span>
          </div>
        </div>
        <!--FIM INFO BOX-->
      </div>
      <!--FIM DIV col-sm 3 quant analises mes-->
      <!--INICIO DIV col-sm 3 acessos no mes-->
      <div class="col-sm-2"></div>
      <!--FIM DIV col-sm 3 acessos no mes-->
    </div>
    <!--Fim DIV ROW-->
  </section>
  <!--FIM SECTION content-->
</div>
