<form  [formGroup]="form" (ngSubmit)="cadastrar()" >
    <div class="row" *ngIf="erroCpf">
        <div class="col-sm-4 offset-sm-4 info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-warning"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">CPF já cadastrado</span>
            </div>
        </div>
    </div>
    <div class="row">       
        <app-input-text class="col-sm-4" formControlName="nome" label="Nome" id="nome" tipo="text" />
        <app-input-text class="col-sm-2" formControlName="alcunha" label="Alcunha" id="alcunha"  tipo="text" />
        <app-input-text class="col-sm-2"  (change)="checkCpf()" formControlName="cpf" label="CPF" id="cpf" mascara="000.000.000-00" tipo="text" />
        <app-input-text class="col-sm-2" formControlName="data_nascimento" label="Data Nascimento" id="data_nascimento" tipo="date" />
        <app-input-select class="col-sm-2" formControlName="sexo_id" label="Sexo" id="sexo_id" [data$]="sexos$" />
        
    </div>
    <div class="row">  
        <app-input-text class="col-sm-4" formControlName="mae" label="Mãe" id="mae" tipo="text" />
        <app-input-text class="col-sm-4" formControlName="pai" label="Pai" id="pai" tipo="text" />
        
    </div>
    <div class="row">  
        <app-input-text class="col-sm-4" formControlName="cnh" label="CNH" id="cnh" tipo="text" />
        <app-input-select class="col-sm-2" formControlName="cnh_categoria_id" label="Categoria CNH" id="cnh_categoria_id" [data$]="cnhcategorias$" />
        <app-input-select class="col-sm-2" formControlName="escolaridade_id" label="Escolaridade" id="escolaridade_id" [data$]="escolaridades$" />
        <app-input-select class="col-sm-2" formControlName="naturalidade_id" label="Naturalidade" id="naturalidade_id" [data$]="naturalidades$" />
       
    </div>
    <div class="row">  
        <app-input-text class="col-sm-2" formControlName="telefone1" label="Telefone 1" id="telefone1" mascara="(00) 0000-0000||(00) 0 0000-0000" tipo="text" />
        <app-input-text class="col-sm-2" formControlName="telefone2" label="Telefone 2" id="telefone2" mascara="(00) 0000-0000||(00) 0 0000-0000" tipo="text" />
        <app-input-text class="col-sm-4" formControlName="email" label="E-mail" id="email" tipo="email" />        
    </div>
    <div class="row">
        <app-input-select (ngModelChange)="getEstados()" class="col-sm-2" formControlName="pais_id" label="País" id="pais_id" [data$]="paises$" />
        <app-input-select (ngModelChange)="getCidades()" class="col-sm-2" formControlName="estado_id" label="Estado" id="estado_id" [data$]="estados$" />
        <app-input-select class="col-sm-2" formControlName="cidade_id" label="Cidade" id="cidade_id" [data$]="cidades$" />
        <app-input-text class="col-sm-2" formControlName="cep" label="CEP" id="cep" tipo="text" mascara="00.000-00" />
    </div>
    <div class="row">
        <app-input-text class="col-sm-4" formControlName="rua" label="Rua" id="rua" tipo="text" />
        <app-input-text class="col-sm-2" formControlName="numero" label="Número" id="numero" tipo="text" />
        <app-input-text class="col-sm-2" formControlName="bairro" label="Bairro" id="bairro" tipo="text" />
        <app-input-text class="col-sm-4" formControlName="complemento" label="Complemento" id="complemento" tipo="text" />
    </div>
    <div class="row">
        <app-input-textarea class="col-sm-12" formControlName="observacao" label="Observação" id="observacao" tipo="textarea" />
    </div>
    <div class="d-flex justify-content-end">
      
        <!--<a (click)="form.reset()" data-bs-dismiss="modal" class="btn btn-link text-danger">Cancelar</a>
        <button [disabled]="form.invalid" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Cadastrar</button>-->
        <a (click)="cancelCad()" class="btn btn-link text-danger">Cancelar</a>
        <button [disabled]="form.invalid"  type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>