<div class="content-wrapper">
    <app-titulo titulo="Organização" intermediario="Organizações" intermediariolink="/Organizacoes" />
  <!--INICIO SECTION content-->
  <section class="content" >
    <!--INICIO PROFILE -->

    <div class="row" *ngIf="organizacao$ | async as organizacao; else loading">
      <div class="col-sm-3">
        <div class="card ">
          <div class="card-body box-profile ">
            <h3 class="profile-username text-center">{{organizacao.nome }}</h3>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Tipo</b> <a class="float-right">{{organizacao.organizacao_tipo.nome}}</a>
                </li>
                <li *ngIf="organizacao.telefone1" class="list-group-item">
                    <b>Telefone 1</b> <a class="float-right">{{organizacao.telefone1}}</a>
                </li>
                <li *ngIf="organizacao.telefone2" class="list-group-item">
                    <b>Telefone 2</b> <a class="float-right">{{organizacao.telefone2}}</a>
                </li>
                <li *ngIf="organizacao.email" class="list-group-item">
                    <b>E-mail</b> <a class="float-right">{{organizacao.email}}</a>
                </li>
             
            </ul>      
            <a [routerLink]="['Imprimir']" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>     
          </div>
        </div>

        <div class="card " *ngIf="organizacao.rua">
          <div class="card-header border-0">Endereço</div>
          <div class="card-body box-profile">
              {{organizacao.rua}}
              <span *ngIf="organizacao.numero">, {{organizacao.numero}}</span>
              <span *ngIf="organizacao.bairro">, {{organizacao.bairro}}</span>
              <span *ngIf="organizacao.complemento">, {{organizacao.complemento}}</span>
              <span *ngIf="organizacao.cidade">, {{organizacao.cidade.nome}} - {{organizacao.cidade.estado.uf}}</span>

              <iframe *ngIf="organizacao.rua" style="width: 100%; height: 300px;" id="gmap_canvas" [src]="googlemaps(organizacao)" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card">
          
          <div class="card-header border-0 p-2">
            <ul class="nav nav-pills">
                <!--<li class="nav-item"><a class="nav-link active" href="#informacoes" data-bs-toggle="tab">Informações</a></li>-->
                <li class="nav-item"><a class="nav-link active" href="#observacao" data-bs-toggle="tab">Observação</a></li>
                <li class="nav-item"><a class="nav-link" href="#pessoas" data-bs-toggle="tab">Pessoas</a></li>
                <li class="nav-item"><a class="nav-link" href="#veiculos" data-bs-toggle="tab">Veículos</a></li>
                <li class="nav-item"><a class="nav-link" href="#arquivos" data-bs-toggle="tab">Arquivos</a></li>
            </ul>
          </div>
          <div class="card-body table-responsive p-2">
              <div class="tab-content">
                <!--<div class="active tab-pane" id="informacoes">
                    <div class="row">
                        <dt class="col-sm-2">Alcunha</dt><dd class="col-sm-8">{{pessoa.alcunha}}</dd>
                    </div>
                </div>-->
                <!--INICIO TAB OBSERVACAO-->
                <div class="active tab-pane" id="observacao">
                    <div [innerHTML]="organizacao.observacao"></div>
                </div>
                <!--FIM TAB OBSERVACAO-->
      
                <!--INICIO TAB PESSOAS-->
                <div class="tab-pane" id="pessoas">

                  <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalpessoas" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL Pessoa-->
                  <div class="modal fade" id="modalpessoas" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Pessoa
                          </h4>
                          <button type="button" class="close" #fecharmodalpessoa id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-organizacoes-pessoas [organizacao_id]="organizacao.id" (refresh)="sudmitPessoa()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL Pessoa-->

                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed text-nowrap ">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nome</th> 
                        <th>CPF</th>    
                        <th>Telefone 1</th>    
                        <th>E-mail</th>   
                        <th>Líder</th>   
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of organizacao.pessoas" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.nome}}</td> 
                        <td>{{row.cpf | mask: '000.000.000-00'}}</td> 
                        <td>{{row?.telefone1}} </td> 
                        <td>{{row?.email}}</td> 
                        <td>
                            <span *ngIf="row.pivot?.lider">Sim</span>
                        </td> 
                        <td>                                        
                            <a
                              class="options ml-2"
                              (click)="deletePessoa(row.pivot.id)"            
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB PESSOAS-->

                <!--INICIO TAB VEICULOS-->
                <div class="tab-pane" id="veiculos">

                    <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalveiculos" title="Cadastrar"><i class="fa fa-plus"></i></button>
                    <!-- INICIO MODAL VEICULOS-->
                    <div class="modal fade" id="modalveiculos" style="display: none;" aria-hidden="true">
                      <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                          <div class="modal-header border-0">
                            <h4 class="modal-title">
                              Cadastrar Veículo
                            </h4>
                            <button type="button" class="close" #fecharmodalveiculo id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body" >                            
                              <formulario-organizacoes-veiculos [organizacao_id]="organizacao.id" (refresh)="sudmitVeiculo()" />
                          </div>           
                        </div>        
                      </div>        
                    </div>
                    <!--FIM MODAL VEICULOS-->
  
                    <!--INICIO TABLE-->
                    <table  class="table table-hover table-head-fixed text-nowrap ">
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>Tipo</th> 
                            <th>Marca - Modelo</th>    
                            <th>Placa</th>    
                            <th>Chassi</th>   
                            <th>Renavam</th>   
                            <th>Pessoa / Organização</th>                      
                            <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody  >
                        <tr *ngFor="let row of organizacao.veiculos" class="optionshover">
                            <td>{{row.pivot.id}}</td>
                            <td>{{row.veiculo_tipo.nome}}</td> 
                            <td>{{row.modelo?.marca?.nome}} - {{row.modelo?.nome}}</td> 
                            <td>{{row.placa}}</td> 
                            <td>{{row.chassi}}</td> 
                            <td>{{row.renavam}}</td> 
                            <td>
                              <span *ngIf="row.pessoa">{{row.pessoa.nome}}</span>
                              <span *ngIf="row.organizacao">{{row.organizacao.nome}}</span>
                            </td> 
                            <td>                                        
                                <a
                                  class="options ml-2"
                                  (click)="deleteVeiculo(row.pivot.id)"                           
                                  title="Excluir"
                                >
                                  <i
                                    class="fas fa-trash text-danger point "
                                    aria-hidden="true"
                                  ></i
                                ></a>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--FIM TABLE-->
                  </div>
                  <!--FIM TAB VEICULOS-->
                
               
                <!--INICIO TAB ARQUIVOS-->
                <div class="tab-pane" id="arquivos">
                  <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalarquivos" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ARQUIVOS-->
                  <div class="modal fade" id="modalarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Arquivo
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-organizacoes-arquivos  [organizacao_id]="organizacao.id" (refresh)="sudmitArquivo()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ARQUIVOS-->
                  <!-- INICIO MODAL SHOW ARQUIVOS-->
                  <div class="modal fade" id="modalshowarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Arquivo 
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" *ngIf="arquivo" style="text-align: center; height: 650px;">   
                            <img style="height: 100%;" *ngIf="arquivo.arquivo_tipo.foto"  [src]="urlarq(arquivo)" />    
                            <iframe style="width: 100%; height: 100%;" *ngIf="arquivo.arquivo_tipo.pdf || arquivo.arquivo_tipo.texto" [src]="urlarq(arquivo)" ></iframe>
                           
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL SHOW ARQUIVOS-->
                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed text-nowrap mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Nome</th> 
                        <th>Arquivo</th>                        
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of organizacao.arquivos" class="optionshover">
                        <td>{{row.id}}</td>
                        <td>{{row.arquivo_tipo.nome}}</td> 
                        <td>{{row.nome}}</td> 
                        <td>
                          <a style="cursor: pointer;" *ngIf="row.arquivo_tipo.pdf || row.arquivo_tipo.texto" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            {{row.arquivo}}
                          </a>  
                          <a style="cursor: pointer;" *ngIf="row.arquivo_tipo.foto" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            <img  width="50px" [src]="urlarq(row)" /> 
                          </a>      
                          <!--<a (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">{{row.nome}}</a>-->
                        </td> 
                        <td>                                        
                            <a
                              class="options ml-2"
                              (click)="deleteArquivo(row.id)"                           
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB ARQUIVOS-->
              </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template  #loading>
      <div class="text-center">
        <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
        <h2 >Veículo não encontrado</h2>      
        <a routerLink="['/Inicio']">Voltar para o Início</a>
      </div>
      
    </ng-template>

    <!--FIM PROFILE-->
  </section>
  <!--FIM SECTION content-->
</div>
