<div class="content-wrapper">
    <app-titulo titulo="Pessoa" />
  <!--INICIO SECTION content-->
  <section class="content" >
    <!--INICIO PROFILE -->

    <div class="row" *ngIf="pessoa$ | async as pessoa; else loading">
      <div class="col-sm-3">
        <div class="card ">
          <div class="card-body box-profile ">
            <div class="text-center">
              <img
              
                style="height: 200px; width: 200px;"
                *ngIf="pessoa.foto"
                class="profile-user-img img-fluid img-circle"
                [src]="urlfoto(pessoa)"
                alt="User profile picture"
              />
            </div>
            
            <h3 class="profile-username text-center">{{pessoa.nome}}</h3>
            <p *ngIf="pessoa.alcunha" class="text-muted text-center">{{pessoa.alcunha}}</p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>CPF</b> <a class="float-right">{{pessoa.cpf | mask: '000.000.000-00'}}</a>
              </li>
              <li *ngIf="pessoa.alcunha" class="list-group-item">
                <b>Data Nascimento</b> <a class="float-right">{{pessoa.data_nascimento | date: 'dd/MM/yyyy'}}</a>
              </li>
              <li *ngIf="pessoa.sexo_id" class="list-group-item">
                <b>Sexo</b> <a class="float-right">{{pessoa.sexo?.nome}}</a>
              </li>
              <!--<li *ngIf="pessoa.alcunha" class="list-group-item">
                <b>Alcunha</b> <a class="float-right">{{pessoa.alcunha}}</a>
              </li>-->
              <li *ngIf="pessoa.mae" class="list-group-item">
                <b>Mãe</b> <a class="float-right">{{pessoa.mae}}</a>
              </li>
              <li *ngIf="pessoa.pai" class="list-group-item">
                <b>Pai</b> <a class="float-right">{{pessoa.pai}}</a>
              </li> 
              <li *ngIf="pessoa.email" class="list-group-item">
                <b>E-mail</b> <a class="float-right">{{pessoa.email}}</a>
              </li> 
              <li *ngIf="pessoa.telefone1" class="list-group-item">
                <b>Telefone 1</b> <a class="float-right">{{pessoa.telefone1}}</a>
              </li> 
              <li *ngIf="pessoa.telefone2" class="list-group-item">
                <b>Telefone 2</b> <a class="float-right">{{pessoa.telefone2}}</a>
              </li> 
              <li *ngIf="pessoa.influencia_id" class="list-group-item">
                <b>Influência</b> <a class="float-right">{{pessoa.influencia?.nome}}</a>
              </li>  
              

            </ul>      
            <a [routerLink]="['Imprimir']" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-print" aria-hidden="true"></i> Imprimir</a>     
          </div>

          
        </div>

        <div class="card ">
            <div class="card-header border-0">Redes Sociais</div>
            <div class="card-body box-profile">
                <ul class="list-unstyled">
                    <li *ngFor="let rede of pessoa.redes_sociais"><a [href]="rede.pivot.nome" target="_blank">{{rede.nome}}</a></li>
                </ul>
            </div>
          </div>

      </div>

      <div class="col-sm-9">
        <div class="card">
          
          <div class="card-header border-0 p-2">
            <ul class="nav nav-pills">
                <!--<li class="nav-item"><a class="nav-link active" href="#informacoes" data-bs-toggle="tab">Informações</a></li>-->
                <li class="nav-item"><a class="nav-link active" href="#observacao" data-bs-toggle="tab">Observação</a></li>
                <li class="nav-item"><a class="nav-link" href="#analises" data-bs-toggle="tab">Análises</a></li>
                <li class="nav-item"><a class="nav-link" href="#veiculos" data-bs-toggle="tab">Veículos</a></li>
                
                <li class="nav-item"><a class="nav-link" href="#organizacoes" data-bs-toggle="tab">Organizações</a></li>
                <li class="nav-item"><a class="nav-link" href="#arquivos" data-bs-toggle="tab">Arquivos</a></li>
            </ul>
          </div>
          <div class="card-body table-responsive p-2">
              <div class="tab-content">
                <!--<div class="active tab-pane" id="informacoes">
                    <div class="row">
                        <dt class="col-sm-2">Alcunha</dt><dd class="col-sm-8">{{pessoa.alcunha}}</dd>
                    </div>
                </div>-->
                <!--INICIO TAB OBSERVACAO-->
                <div class="active tab-pane" id="observacao">
                    <div [innerHTML]="pessoa.observacao"></div>
                </div>
                <!--FIM TAB OBSERVACAO-->
                <!--INICIO TAB ANALISES-->
                <div class="tab-pane" id="analises">
                  <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalanalises" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ANALISES-->
                  <div class="modal fade" id="modalanalises" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Análise
                          </h4>
                          <button type="button" class="close" #fecharmodalanalises id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-pessoas-analises [pessoa_id]="pessoa.id" (refresh)="sudmitAnalise()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ANALISES-->
                  <!--INICIO TABLE-->
                   <table  class="table table-hover table-head-fixed text-nowrap mt-2">
                     <thead>
                       <tr>
                         <th>#</th>
                         <th>Categoria</th> 
                         <th>Tipo</th>    
                         <th>Nome</th>    
                         <th>Data</th>   
                         <th>Hora</th>   
                         <th>Líder</th> 
                         <th>Opções</th>
                       </tr>
                     </thead>
                     <tbody  >
                       <tr *ngFor="let row of pessoa.analises" class="optionshover">
                         <td>{{row.pivot.id}}</td>
                         <td>{{row.analise_categoria.nome}}</td> 
                         <td>{{row.analise_tipo?.nome}}</td> 
                         <td>{{row.nome}}</td> 
                         <td>{{row.data | date: 'dd/MM/yyyy'}}</td> 
                         <td>{{row.hora}}</td> 
                         <td>
                            <span *ngIf="row.pivot.lider">Sim</span>
                          </td>
                         <td>                                        
                             <a
                               class="options ml-2"
                               (click)="deleteAnalise(row.pivot.id)"                           
                               title="Excluir"
                             >
                               <i
                                 class="fas fa-trash text-danger point "
                                 aria-hidden="true"
                               ></i
                             ></a>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                   <!--FIM TABLE-->
                 </div>
                 <!--FIM TAB ANALISES-->
                <!--INICIO TAB VEICULOS-->
                <div class="tab-pane" id="veiculos">

                  <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalveiculos" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL VEICULOS-->
                  <div class="modal fade" id="modalveiculos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Veículo
                            <button (click)="cadveiculo = true;" class="btn btn-outline-primary" title="Cadastrar"><i class="fa fa-plus"></i></button>
                          </h4>
                          <button type="button" class="close" #fecharmodalveiculo id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-veiculos *ngIf="cadveiculo" (refresh)="cadastroVeiculo()" (cancel)="cancelVeiculo()"/>
                            <formulario-pessoas-veiculos *ngIf="!cadveiculo" [pessoa_id]="pessoa.id" (refresh)="sudmitOrganizacao()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL VEICULOS-->

                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed text-nowrap ">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Marca - Modelo</th>    
                        <th>Placa</th>    
                        <th>Chassi</th>   
                        <th>Renavam</th>   
                        <th>Pessoa / Organização</th>                      
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of pessoa.veiculos" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.veiculo_tipo.nome}}</td> 
                        <td>{{row.modelo?.marca?.nome}} - {{row.modelo?.nome}}</td> 
                        <td>{{row.placa}}</td> 
                        <td>{{row.chassi}}</td> 
                        <td>{{row.renavam}}</td> 
                        <td>
                          <span *ngIf="row.pessoa">{{row.pessoa.nome}}</span>
                          <span *ngIf="row.organizacao">{{row.organizacao.nome}}</span>
                        </td> 
                        <td>                                        
                            <a
                              class="options ml-2"
                              (click)="deleteVeiculo(row.pivot.id)"            
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB VEICULOS-->
                
                <!--INICIO TAB ORGANIZACOES-->
                <div class="tab-pane" id="organizacoes">
                  <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalorganizacoes" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ORGANIZACAO-->
                  <div class="modal fade" id="modalorganizacoes" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Organização
                          </h4>
                          <button type="button" class="close" #fecharmodalorganizacoes id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-pessoas-organizacoes  [pessoa_id]="pessoa.id" (refresh)="sudmitVeiculo()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ORGANIZACAO-->
                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed text-nowrap mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Nome</th>    
                        <th>Telefone 1</th>    
                        <th>E-mail</th>   
                        <th>Líder</th>   
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of pessoa.organizacoes" class="optionshover">
                        <td>{{row.pivot.id}}</td>
                        <td>{{row.organizacao_tipo.nome}}</td> 
                        <td>{{row.nome}}</td> 
                        <td>{{row?.telefone1}} </td> 
                        <td>{{row?.email}}</td> 
                        <td>
                          <span *ngIf="row.pivot.lider">Sim</span>
                        </td>
                      
                        <td>                                        
                            <a
                              class="options ml-2"
                              (click)="deleteOrganizacao(row.pivot.id)"                           
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB ORGANIZACOES-->
                <!--INICIO TAB ARQUIVOS-->
                <div class="tab-pane" id="arquivos">
                  <button class="btn btn-outline-primary mb-2" data-bs-toggle="modal" data-bs-target="#modalarquivos" title="Cadastrar"><i class="fa fa-plus"></i></button>
                  <!-- INICIO MODAL ARQUIVOS-->
                  <div class="modal fade" id="modalarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Cadastrar Arquivo
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" >                            
                            <formulario-pessoas-arquivos  [pessoa_id]="pessoa.id" (refresh)="sudmitArquivo()" />
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL ARQUIVOS-->
                  <!-- INICIO MODAL SHOW ARQUIVOS-->
                  <div class="modal fade" id="modalshowarquivos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                        <div class="modal-header border-0">
                          <h4 class="modal-title">
                            Arquivo 
                          </h4>
                          <button type="button" class="close" #fecharmodalarquivos id="fecharmodal" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body" *ngIf="arquivo" style="text-align: center; height: 650px;">   
                            <img style="height: 100%;" *ngIf="arquivo.arquivo_tipo_id == 2"  [src]="urlarq(arquivo)" />    
                            <iframe style="width: 100%; height: 100%;" *ngIf="arquivo.arquivo_tipo_id == 1" [src]="urlarq(arquivo)" ></iframe>
                           
                        </div>           
                      </div>        
                    </div>        
                  </div>
                  <!--FIM MODAL SHOW ARQUIVOS-->
                  <!--INICIO TABLE-->
                  <table  class="table table-hover table-head-fixed text-nowrap mt-2">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tipo</th> 
                        <th>Arquivo</th>                        
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let row of pessoa.arquivos" class="optionshover">
                        <td>{{row.id}}</td>
                        <td>{{row.arquivo_tipo.nome}}</td> 
                        <td>
                          <a *ngIf="row.arquivo_tipo_id == 1" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            {{row.nome}}
                          </a>  
                          <a *ngIf="row.arquivo_tipo_id == 2" (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">
                            <img  width="50px" [src]="urlarq(row)" /> 
                          </a>      
                          <!--<a (click)="showArquivo(row)" data-bs-toggle="modal" data-bs-target="#modalshowarquivos">{{row.nome}}</a>-->
                        </td> 
                        <td>                                        
                            <a
                              class="options ml-2"
                              (click)="deleteArquivo(row.id)"                           
                              title="Excluir"
                            >
                              <i
                                class="fas fa-trash text-danger point "
                                aria-hidden="true"
                              ></i
                            ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!--FIM TABLE-->
                </div>
                <!--FIM TAB ARQUIVOS-->
              </div>
          </div>
        </div>
      </div>

    

    

    </div>


    <ng-template  #loading>
      <div class="text-center">
        <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
        <h2 >Pessoa não encontrado</h2>      
        <a routerLink="['/Inicio']">Voltar para o Início</a>
      </div>
      
    </ng-template>

    <!--FIM PROFILE-->
  </section>
  <!--FIM SECTION content-->
</div>
