<form  [formGroup]="form" (ngSubmit)="cadastrar()" >
    <div class="row">
        <app-input-select class="col-sm-4" formControlName="organizacao_id" label="Organização" id="organizacao_id" [data$]="organizacoes$" />
        <div class="col-sm-2">
            <div class="form-check" style="margin-top:  30px;">
                <input class="form-check-input" type="checkbox"  id="lider" formControlName="lider">
                <label class="form-check-label" for="lider">Líder</label>
            </div>
        </div> 
        <div class="col-sm-2">
            <button style="margin-top: 31px;" [disabled]="form.invalid"  type="submit" class="btn btn-primary">Cadastrar</button>
        </div>        
    </div>       
</form>