<div *ngIf="investigacaosocial$ | async as investigacao; else loading">
  <!-- <p id="marcadagua" class="marcadagua">Documento Sigiloso {{ cifra }}</p> -->
  <div class="page-header" style="text-align: center;">
    <!--<img src="assets/cabecalho.png" class="cabecalho" />-->
    <div class="text-center" style="position: relative">
      <h1 style="margin-top: 30px;">
        {{ investigacao.pessoa.nome }}
      </h1>
      
    </div>
  </div>

  <div *ngIf="user" class="page-footer text-right">      
    <span><b>Data:</b> {{ date | date : "dd/MM/yyyy HH:mm" }} </span>
    <!--<div style="border: 1px solid red; color: red; padding: 0.2rem; text-align: justify;">
      “O sigilo deste documento é protegido e controlado pela Lei Nº 12.527/2011. A divulgação, a revelação, o fornecimento, a utilização 
      ou a reprodução desautorizada de seu conteúdo, a qualquer tempo, meio e modo, inclusive mediante acesso ou facilitação de acesso indevidos, 
      constituem condutas ilícitas que ensejam responsabilidades penais, civis e administrativas. ”
    </div>-->
  </div>

  <table style="width: 100%; min-width: 100%">
    <thead class="thead">
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="page-header-space"></div>
        </td>
      </tr>
    </thead>

    <tbody>
     
      <tr class="page">
        <td>
          
          <!--*** CONTENT GOES HERE ***
            <div class="page">PAGE 1</div>
            <div class="page">PAGE 2</div>-->
            <!--INICIO PAGE 1-->
            <div class="main">
              
              <!--INICIO IDENTIFICACAO-->
              <div class="row">
                <!--INICIO FOTO-->
                <div class="col-sm-3 border">
                  <img
                      style="
                        height: 100%;
                        width: 100%;
                        padding: 10px;
                       
                      "
                      *ngIf="investigacao.pessoa.foto"
                      class=""
                      [src]="urlfoto(investigacao.pessoa)"
                      alt="User profile picture"
                    />
                </div>
                 <!--FIM FOTO-->
                 <!--INICIO DADOS-->
                <div class="col-sm-9 border">
                  <h1 class="noprint">
                    {{ investigacao.pessoa.nome }}
                  </h1>
                  <span *ngIf="investigacao.pessoa.alcunha"><strong>Alcunha:</strong> {{ investigacao.pessoa.alcunha }}</span><br />
                  <span *ngIf="investigacao.graduacao"><strong>Graduação:</strong> {{ investigacao.graduacao.abreviatura }} </span>
                  <span *ngIf="investigacao.numeral"><strong>Nº:</strong> {{ investigacao.numeral }} </span>
                  <span *ngIf="investigacao.matricula"><strong>Mat.:</strong> {{ investigacao.matricula | mask: '000.000-0A' }}</span><br />
                  <span *ngIf="investigacao.companhia"><strong>Lotação:</strong> {{ investigacao.companhia.nome }} / {{ investigacao.companhia.batalhao.nome }}</span><br />
                  <span *ngIf="investigacao.situacao_tipo"><strong>Tipo de Situação:</strong> {{ investigacao.situacao_tipo.nome }}</span><br />
                  <span *ngIf="investigacao.comportamento"><strong>Comportamento:</strong> {{ investigacao.comportamento.nome }}</span><br />
                  <span *ngIf="investigacao.situacao_funcional"><strong>Situação Funcional:</strong> {{ investigacao.situacao_funcional.nome }}</span><br />
                  <span *ngIf="investigacao.data_ingresso"><strong>Ingresso na PMCE:</strong> {{ investigacao.data_ingresso | date: 'dd/MM/yyyy' }}</span><br />
                  <span *ngIf="investigacao.data_ingresso"><strong>Tempo de Serviço:</strong> {{ investigacao.data_ingresso | date: 'dd/MM/yyyy' }}</span><br />

                  <span *ngIf="investigacao.pessoa.data_nascimento"><strong>Data Nascimento:</strong> {{ investigacao.pessoa.data_nascimento | date: 'dd/MM/yyyy' }} </span>
                  <span *ngIf="investigacao.pessoa.sexo_id"><strong>Sexo:</strong> {{ investigacao.pessoa.sexo?.nome }} </span>
                  <span *ngIf="investigacao.pessoa.naturalidade"><strong>Naturalidade:</strong> {{ investigacao.pessoa.naturalidade.nome }} - {{ investigacao.pessoa.naturalidade.estado.uf }}</span><br />
                  <span *ngIf="investigacao.pessoa.escolaridade"><strong>Escolaridade:</strong> {{ investigacao.pessoa.escolaridade.nome }}</span><br />
                  <span *ngIf="investigacao.pessoa.cpf"><strong>CPF:</strong> {{ investigacao.pessoa.cpf | mask: '000.000.000-00'}}</span><br />
                  <span *ngIf="investigacao.pessoa.cnh"><strong>CNH:</strong> {{ investigacao.pessoa.cnh }} </span>
                  <span *ngIf="investigacao.pessoa.cnh_categoria"><strong>Categoria:</strong> {{ investigacao.pessoa.cnh_categoria.nome }}</span><br />
                  <span *ngIf="investigacao.pessoa.telefone1"><strong>Telefone 1:</strong> {{ investigacao.pessoa.telefone1 | mask: '(00) 0 0000-0000' }} </span>
                  <span *ngIf="investigacao.pessoa.telefone2"><strong>Telefone 2:</strong> {{ investigacao.pessoa.telefone2 | mask: '(00) 0 0000-0000'}} </span>
                  <span *ngIf="investigacao.pessoa.email"><strong>E-mail:</strong> {{ investigacao.pessoa.email }}</span><br />
                  <span *ngIf="investigacao.pessoa.influencia_id"><strong>Influência:</strong> {{ investigacao.pessoa.influencia?.nome }}</span><br />
                  <span *ngIf="investigacao.pessoa.rua">
                    <strong>Endereço:</strong> 
                    {{ investigacao.pessoa.rua }}
                    <span *ngIf="investigacao.pessoa.numero">, {{investigacao.pessoa.numero}}</span>
                    <span *ngIf="investigacao.pessoa.bairro">, {{investigacao.pessoa.bairro}}</span>
                    <span *ngIf="investigacao.pessoa.complemento">, {{investigacao.pessoa.complemento}}</span>
                    <span *ngIf="investigacao.pessoa.cidade">, {{investigacao.pessoa.cidade.nome}} - {{investigacao.pessoa.cidade.estado.uf}}</span><br />
                  </span>
               
                </div>
                <!--FIM DADOS-->
              </div>
              <!--FIM IDENTIFICACAO-->

              <!--INICIO VINCULOS-->
              <div class="sessao" *ngIf="(investigacao.pessoa.vinculos)!.length > 0">
                <h4>Vínculos</h4>

                <table class="table table-bordered table-sm">
                  <thead class="thead">
                    <tr>
                      <th >Tipo</th>
                      <th>Nome</th>
                      <th>CPF</th>
                    </tr>
                  </thead>              
                  <tbody>
                    <tr  *ngFor="let vinculo of investigacao.pessoa.vinculos">
                      <td>{{ vinculo.vinculo_tipo.nome }}</td>
                      <td>{{ vinculo.nome }}</td>
                      <td>{{ vinculo.cpf | mask: '000.000.000-00'}}</td>
                     </tr>
                  </tbody>
                </table>
              </div>
              <!--FIM VINCULOS-->

              <!--INICIO VEICULOS-->
              <div class="sessao" *ngIf="(investigacao.pessoa.veiculos)!.length > 0">
                <h4>Veículos</h4>

                <table class="table table-bordered table-sm">
                  <thead class="thead">
                    <tr>
                      <th>Placa</th>
                      <th>Marca Modelo</th>
                      <th>Ano</th>
                      <th>Cor</th>
                      <th>Alterações</th>
                    </tr>
                  </thead>              
                  <tbody>
                    <tr  *ngFor="let veiculo of investigacao.pessoa.veiculos">
                      <td>{{ veiculo.placa }}</td>
                      <td>{{ veiculo.modelo?.marca?.nome }} {{ veiculo.modelo?.nome }}</td>
                      <td>{{ veiculo.ano }}</td>
                      <td>{{ veiculo.cor?.nome }}</td>
                      <td [innerHTML]="veiculo.observacao"></td>
                     </tr>
                  </tbody>
                </table>
              </div>
              <!--FIM VEICULOS-->

              <!--INICIO redes sociais-->
              <div class="sessao" *ngIf="(investigacao.pessoa.redes_sociais)!.length > 0">
                <h4>Redes Sociais</h4>

                <table class="table table-bordered table-sm">
                  <thead class="thead">
                    <tr>
                      <th>Nome</th>
                      <th>Link</th>
                      <th>Foto</th> 
                    </tr>
                  </thead>              
                  <tbody>
                    <tr  *ngFor="let rede of investigacao.pessoa.redes_sociais">
                      <td>{{ rede.nome }}</td>
                      <td>{{ rede.pivot.nome }}</td>
                      <td>
                        <img style="max-height: 350px;" *ngIf="rede.pivot.foto" [src]="urlfoto2(rede)" [alt]="rede.nome" class="img-circle img-fluid">
                      </td>
                     </tr>
                  </tbody>
                </table>
              </div>
              <!--FIM redes sociais-->

              <!--INICIO LOTACOES-->
              <div class="sessao" *ngIf="(investigacao.lotacoes)!.length > 0">
                <h4>Lotações</h4>
                <table class="table table-bordered table-sm">
                  <thead class="thead">
                    <tr>
                      <th>#</th>
                      <th>Boletim</th> 
                      <th>Tipo</th> 
                      <th>Data</th>   
                      <th>Companhia/Batalhão</th>  
                      
                    </tr>
                  </thead>              
                  <tbody>
                    <tr  *ngFor="let lotacao of investigacao.lotacoes">
                      <td>{{lotacao.id}}</td>
                      <td>{{lotacao.bcg}}</td> 
                      <td>{{lotacao.lotacao_tipo.nome}}</td> 
                      <td>{{lotacao.data | date: 'dd/MM/yyyy'}}</td> 
                      <td>{{lotacao.companhia.abreviatura}}/{{lotacao.companhia.batalhao.abreviatura}}</td> 
                     </tr>
                  </tbody>
                </table>
              </div>
              <!--FIM LOTACOES-->

              <!--INICIO boletins-->
              <div class="sessao" *ngIf="(investigacao.boletins)!.length > 0">
                <h4>Boletins</h4>
                <table class="table table-bordered table-sm">
                  <thead class="thead">
                    <tr>
                      <th>#</th>
                      <th>Boletim</th> 
                      <th>Descrição</th>  
                      
                    </tr>
                  </thead>              
                  <tbody>
                    <tr  *ngFor="let boletim of investigacao.boletins">
                      <td>{{boletim.id}}</td>
                      <td>{{boletim.bcg}}</td> 
                      <td [innerHTML]="boletim.descricao"> </td> 
                     </tr>
                  </tbody>
                </table>
              </div>
              <!--FIM boletins-->
            
               <!--INICIO cgd-->
               <div class="sessao" *ngIf="(investigacao.cgds)!.length">
                <h4>CGDs</h4>
                <table class="table table-bordered table-sm">
                  <thead class="thead">
                    <tr>
                      <th>#</th>
                      <th>SPU</th> 
                      <th>Envolvimento</th> 
                      <th>Tipo</th>   
                      <th>Situação</th> 
                        
                    </tr>
                  </thead>              
                  <tbody *ngFor="let cgd of investigacao.cgds">
                      <tr>
                        <td>{{cgd.id}}</td>
                        <td>{{cgd.spu}}</td> 
                        <td>{{cgd.cgd_envolvimento_tipo.nome}}</td> 
                        <td>{{cgd.cgd_processo_tipo.nome}}</td> 
                        <td>{{cgd.cgd_situacao_tipo.nome}}</td>
                     </tr>
                     <tr>
                        <td colspan="5" [innerHTML]="cgd.descricao"></td> 
                     </tr>
                  </tbody>
                </table>
              </div>
              <!--FIM cgd-->

              <!--INICIO sip-->
              <div class="sessao" *ngIf="investigacao.sip">
                <h4>SIP</h4>
                <div [innerHTML]="investigacao.sip"></div>
              </div>
              <!--FIM sip-->

              <!--INICIO sinesp-->
              <div class="sessao" *ngIf="investigacao.sinesp">
                <h4>Sinesp</h4>
                <div [innerHTML]="investigacao.sinesp"></div>
              </div>
              <!--FIM sinesp-->

              <!--INICIO tjce-->
              <div class="sessao" *ngIf="investigacao.tjce">
                <h4>TJCE</h4>
                <div [innerHTML]="investigacao.tjce"></div>
              </div>
              <!--FIM tjce-->

              <!--INICIO fontes abertas-->
              <div class="sessao" *ngIf="investigacao.fontes_abertas">
                <h4>Fontes Abertas</h4>
                <div [innerHTML]="investigacao.fontes_abertas"></div>
              </div>
              <!--FIM fontes abertas-->

              <!--INICIO informacoes adicionais-->
              <div class="sessao" *ngIf="investigacao.informacoes_adicionais">
                <h4>Informações Adicionais</h4>
                <div [innerHTML]="investigacao.informacoes_adicionais"></div>
              </div>
              <!--FIM informacoes adicionais-->
              
            </div>
            <!--FIM PAGE 2-->
           
        </td>
      </tr>
    </tbody>

    <tfoot class="tfoot">
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="page-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
    <h2>Investigação Social não encontrada</h2>
    <a routerLink="['/Inicio']">Voltar para o Início</a>
  </div>
</ng-template>
