<aside class="main-sidebar sidebar-dark-orange elevation-4">
  <a [routerLink]="['Inicio']" class="brand-link">
    <img
      src="assets/casamil.png"
      alt="Casa Militar"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">SAE</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a
            [routerLink]="['Inicio']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-home"></i>
            <p>Início</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['Pesquisar']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-search"></i>
            <p>Pesquisar</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="perfil.analises">
          <a
            [routerLink]="['Analises']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-warning"></i>
            <p>Análises</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="perfil.investigacoes_sociais">
          <a
            [routerLink]="['InvestigacoesSociais']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-address-book"></i>
            <p>Investigações Sociais</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="perfil.organizacoes">
          <a
            [routerLink]="['Organizacoes']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-building"></i>
            <p>Organizações</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="perfil.pessoas">
          <a
            [routerLink]="['Pessoas']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-users"></i>
            <p>Pessoas</p>
          </a>
        </li>
        <!--<li class="nav-item" *ngIf="perfil.gestor">
          <a
            [routerLink]="['Usuarios']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-users"></i>
            <p>Usuários</p>
          </a>
        </li>-->
        <li class="nav-item" *ngIf="perfil.veiculos">
          <a
            [routerLink]="['Veiculos']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fa fa-car"></i>
            <p>Veículos</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="perfil.administrador">
          <a href="#"  class="nav-link">
            <i class="nav-icon fa fa-cogs"></i>
            <p>
              Administrador
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['Batalhoes']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Batalhões</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Analises/Categorias']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Categorias de Análises</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Cnh/Categorias']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Categorias de Cnh</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Cidades']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Cidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Companhias']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Companhias</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Comportamentos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Comportamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Cores']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Cores</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Escolaridades']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Escolaridades</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Estados']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Estados</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Graduacoes']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Graduações</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Logs']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Logs</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Marcas']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Marcas</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Modelos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Modelos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Paises']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Países</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Perfis']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Perfis</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Sexos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Sexos</p>
              </a>
            </li>
           
            <li class="nav-item">
              <a
                [routerLink]="['Situacoes/Funcionais']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Situações Funcionais</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Arquivos/Tipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Arquivos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Analises/Tipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Análises</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Lotacoes/Tipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Lotações</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Organizacoes/Tipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Organizações</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Situacoes/Tipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Situações</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Veiculos/Tipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Veículos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Vinculos/Tipos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Tipos de Vínculos</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="perfil.gestor">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cog"></i>
            <p>
              Gestor
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['Influencias']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Influências</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['RedesSociais']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Redes Sociais</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['Usuarios']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Usuários</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="perfil.gestor">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-file"></i>
            <p>
              Relatórios
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['RelAcessos']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Acessos</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
