<div class="content-wrapper">
    <app-titulo titulo="Pessoas" [primario]="false" />
  
    <!--INICIO SECTION content-->
    <section class="content">

      <!--INICIO CARD-->
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <button *ngIf="user.perfil.pessoas_cad" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalcad" title="Cadastrar"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="card-body">
        
          <!--INICIO TABLE-->
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-head-fixed ">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Alcunha</th>
                <th>CPF</th>
                <th>Foto</th>
                <th>Informações</th>
                <th>Opções</th>
              </tr>
            </thead>

            <tbody *ngIf="data$ | async as data; else loading" >
              <tr *ngFor="let row of data" class="optionshover">
                <td>{{row.id}}</td>
                <td><a [routerLink]="['/Pessoas', row.id]">{{row.nome}}</a></td> 
                <td>{{row.alcunha}}</td> 
                <td>{{row.cpf | mask: '000.000.000-00'}}</td>   
                <td>
                  <i *ngIf="user.perfil.pessoas_edt" class="fas fa-portrait point" [ngClass]="row.foto ? 'text-success' : 'text-danger'" (click)="showFoto(row)" data-bs-toggle="modal" data-bs-target="#modalfoto"></i>
                </td>
                <td>
                  <i
                    (click)="showInformacoes(row)"
                    *ngIf="user.perfil.pessoas_edt"
                    data-bs-toggle="modal"
                    data-bs-target="#modalvinculos"
                    title="Vínculos"
                    class="fa fa-sitemap text-primary point"
                    aria-hidden="true"
                  ></i>
                  <i
                    (click)="showInformacoes(row)"
                    *ngIf="user.perfil.pessoas_edt"
                    data-bs-toggle="modal"
                    data-bs-target="#modalredes"
                    title="Redes Sociais"
                    class="fa fa-share-alt-square text-primary point ml-2"
                    aria-hidden="true"
                  ></i>
                  <i
                    (click)="showInformacoes(row)"
                    *ngIf="user.perfil.pessoas_edt"
                    data-bs-toggle="modal"
                    data-bs-target="#modalanalises"
                    title="Análises"
                    class="fa fa-warning text-primary point ml-2"
                    aria-hidden="true"
                  ></i>
                  <i
                    (click)="showInformacoes(row)"
                    *ngIf="user.perfil.pessoas_edt"
                    data-bs-toggle="modal"
                    data-bs-target="#modalorganizacoes"
                    title="Organizações"
                    class="fa fa-building text-primary point ml-2"
                    aria-hidden="true"
                  ></i>
                  <i
                    (click)="showInformacoes(row)"
                    *ngIf="user.perfil.pessoas_edt"
                    data-bs-toggle="modal"
                    data-bs-target="#modalveiculos"
                    title="Veículos"
                    class="fa fa-car text-primary point ml-2"
                    aria-hidden="true"
                  ></i>
                </td>           
                <td>                 
                  <a            
                     *ngIf="user.perfil.pessoas_edt" 
                      class="options ml-2"
                      (click)="edit(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#modalcad"
                      title="Editar"
                    >
                      <i
                        class="fas fa-edit text-primary point"
                        aria-hidden="true"
                      ></i>
                    </a>
                    <a
                    *ngIf="user.perfil.pessoas_del"
                      class="options ml-2"
                      (click)="delete(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#modaldel"
                      title="Excluir"
                    >
                      <i
                        class="fas fa-trash text-danger point "
                        aria-hidden="true"
                      ></i
                    ></a>
                </td>
              </tr>
            </tbody>

            <!--INICIO NGTEMPLATE-->
            <ng-template #loading>
              <tbody class="text-center">
                <!-- INICIO TR -->
                <tr>
                  <td colspan="100%">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                  </td>
                </tr>
                <!-- FIM TR -->
              </tbody>
            </ng-template>
            <!--FIM NGTEMPLATE-->
          </table>
          <!--FIM TABLE-->
        
        </div>
      </div>
      <!--FIM CARD-->
      
      <!-- INICIO MODAL CADASTRO-->
      <div class="modal fade" id="modalcad" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">Cadastrar</h4>
              <button type="button" #closeModalCadastro class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <formulario-pessoas (refresh)="submitCadastro()" (cancel)="cancelCadastro()" />
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL CADASTRO-->

      <!-- INICIO MODAL EXCLUIR-->
      <div class="modal fade" id="modaldel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">Excluir</h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="excluir">
              <p>Tem certeza que deseja excluir: <strong>{{excluir.nome}}</strong></p>
            </div>
            <div class="modal-footer ">
              <a type="button" class="btn btn-link " data-bs-dismiss="modal">Fechar</a>
              <button (click)="confirm()" data-bs-dismiss="modal" type="button" class="btn btn-danger">Excluir</button>
            </div>
          </div>
        
        </div>
        
      </div>
      <!--FIM MODAL EXCLUIR-->    

      <!-- /.INICIO MODAL foto -->
    <div class="modal fade" id="modalfoto" style="display: none;" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content" *ngIf="foto">
          <div class="modal-header">
            <h4 class="modal-title">Cadastrar foto do usuário <b>{{foto.nome}}</b></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
          <div class="modal-body text-center" >                
            <h1 style="font-size: 90px;" *ngIf="!foto?.foto"><i class="fas fa-portrait" [ngClass]="foto.foto ? 'text-success' : 'text-danger'" ></i></h1>
            <img [src]="urlfoto(foto)" *ngIf="foto?.foto" alt="user-avatar"  height="120px" class="img-circle img-fluid">
            <form >
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="foto">Foto<span class="text-danger">*</span></label>
                    <input type="file"  class="form-control form-control-border" accept="image/x-png,image/gif,image/jpeg" (change)="fileEvent($event)"  id="foto" required >                          
                  </div>
                </div>
              </div>
            </form>  
          </div>
          <div class="modal-footer ">
          
            <button type="button" class="btn btn-link" data-bs-dismiss="modal">Fechar</button>                  
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.FIM MODAL FOTO -->

    <!-- INICIO MODAL VINCULOS-->
    <div class="modal fade" id="modalvinculos" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h4 class="modal-title">Cadastrar Vínculo</h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="informacoes">
              <formulario-pessoas-vinculos [pessoa_id]="informacoes.id" (refresh)="refresh2()" />

              <!--INICIO TABLE-->
              <table  class="table table-hover table-head-fixed  ">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Tipo</th>    
                    <th>Nome</th>                      
                    <th>CPF</th>                      
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody *ngIf="informacoes" >
                  <tr *ngFor="let row of informacoes.vinculos" class="optionshover">
                    <td>{{row.id}}</td> 
                    <td>{{row.vinculo_tipo.nome}}</td>
                    <td>{{row.nome}}</td> 
                    <td>{{row.cpf | mask: '000.000.000-00'}}</td> 
                    <td>                                        
                        <a
                          class="options ml-2"
                          (click)="deleteVinculo(row.id || 0)"                           
                          title="Excluir"
                        >
                          <i
                            class="fas fa-trash text-danger point "
                            aria-hidden="true"
                          ></i
                        ></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--FIM TABLE-->
          </div>           
        </div>        
      </div>        
    </div>
    <!--FIM MODAL VINCULOS-->
      
      <!-- INICIO MODAL REDES SOCIAIS-->
      <div class="modal fade" id="modalredes" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">Cadastrar Rede Social</h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="informacoes">
                <formulario-pessoas-redes-sociais [pessoa_id]="informacoes.id" (refresh)="refresh2()" />

                <!--INICIO TABLE-->
                <table  class="table table-hover table-head-fixed  ">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Rede Social</th>    
                      <th>Link</th>     
                      <th>Foto</th>                 
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="informacoes" >
                    <tr *ngFor="let row of informacoes.redes_sociais" class="optionshover">
                      <td>{{row.pivot.id}}</td>
                      <td>{{row.nome}}</td> 
                      <td><a [href]="row.pivot.nome" target="_blank">{{row.pivot.nome}}</a></td> 
                      <td>
                        <img *ngIf="row.pivot.foto" [src]="urlfoto2(row)" alt="user-avatar"  height="120px" class="img-circle img-fluid">
                      </td>
                      <td>                                        
                          <a
                            class="options ml-2"
                            (click)="deleteRedeSocial(row.pivot.id)"                           
                            title="Excluir"
                          >
                            <i
                              class="fas fa-trash text-danger point "
                              aria-hidden="true"
                            ></i
                          ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--FIM TABLE-->
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL REDES SOCIAIS-->

      <!-- INICIO MODAL ANALISES-->
      <div class="modal fade" id="modalanalises" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">
                Cadastrar Análise 
              </h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="informacoes">
                <formulario-pessoas-analises [pessoa_id]="informacoes.id" (refresh)="refresh2()" />

                <!--INICIO TABLE-->
                <table  class="table table-hover table-head-fixed  mt-2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Categoria</th> 
                      <th>Tipo</th>    
                      <th>Nome</th>    
                      <th>Data</th>   
                      <th>Hora</th>   
                      <th>Líder</th>   
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="informacoes" >
                    <tr *ngFor="let row of informacoes.analises" class="optionshover">
                      <td>{{row.pivot.id}}</td>
                      <td>{{row.analise_categoria.nome}}</td> 
                      <td>{{row.analise_tipo?.nome}}</td> 
                      <td><a data-bs-dismiss="modal" [routerLink]="['/Analises', row.id]">{{row.nome}}</a></td> 
                      <td>{{row.data | date: 'dd/MM/yyyy'}}</td> 
                      <td>{{row.hora}}</td> 
                      <td>
                        <span *ngIf="row.pivot.lider">Sim</span>
                      </td>
                      <td>                                        
                          <a
                            class="options ml-2"
                            (click)="deleteAnalise(row.pivot.id)"                           
                            title="Excluir"
                          >
                            <i
                              class="fas fa-trash text-danger point "
                              aria-hidden="true"
                            ></i
                          ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--FIM TABLE-->
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL ANALISES-->

      <!-- INICIO MODAL ORGANIZACOES-->
      <div class="modal fade" id="modalorganizacoes" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">
                Cadastrar Organização 
              </h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="informacoes">
                <formulario-pessoas-organizacoes  [pessoa_id]="informacoes.id" (refresh)="refresh2()" />

                <!--INICIO TABLE-->
                <table  class="table table-hover table-head-fixed  mt-2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Tipo</th> 
                      <th>Nome</th>    
                      <th>Telefone 1</th>    
                      <th>E-mail</th>   
                      <th>Líder</th>   
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="informacoes" >
                    <tr *ngFor="let row of informacoes.organizacoes" class="optionshover">
                      <td>{{row.pivot.id}}</td>
                      <td>{{row.organizacao_tipo.nome}}</td> 
                      <td><a data-bs-dismiss="modal" [routerLink]="['/Organizacoes', row.id]">{{row.nome}}</a></td> 
                      <td>{{row?.telefone1}} </td> 
                      <td>{{row?.email}}</td> 
                      <td>
                        <span *ngIf="row.pivot.lider">Sim</span>
                      </td>
                     
                      <td>                                        
                          <a
                            class="options ml-2"
                            (click)="deleteOrganizacao(row.pivot.id)"                           
                            title="Excluir"
                          >
                            <i
                              class="fas fa-trash text-danger point "
                              aria-hidden="true"
                            ></i
                          ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--FIM TABLE-->
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL ORGANIZACOES-->

      <!-- INICIO MODAL VEICULOS-->
      <div class="modal fade" id="modalveiculos" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header border-0">
              <h4 class="modal-title">
                Cadastrar Veículo 
                <button (click)="cadveiculo = true;" class="btn btn-outline-primary" title="Cadastrar"><i class="fa fa-plus"></i></button>
              </h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="informacoes">
                <formulario-veiculos *ngIf="cadveiculo" (refresh)="cadVeiculo()" (cancel)="cancelVeiculo()"/>
                <formulario-pessoas-veiculos *ngIf="!cadveiculo" [pessoa_id]="informacoes.id" (refresh)="refresh2()" />

                <!--INICIO TABLE-->
                <table  class="table table-hover table-head-fixed  mt-2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Tipo</th> 
                      <th>Marca - Modelo</th>    
                      <th>Placa</th>    
                      <th>Chassi</th>   
                      <th>Renavam</th>   
                      <th>Proprietário</th>                      
                      <th>Opções</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="informacoes" >
                    <tr *ngFor="let row of informacoes.veiculos" class="optionshover">
                      <td>{{row.pivot.id}}</td>
                      <td>{{row.veiculo_tipo.nome}}</td> 
                      <td>{{row.modelo?.marca?.nome}} - {{row.modelo?.nome}}</td> 
                      <td><a data-bs-dismiss="modal" [routerLink]="['/Veiculos', row.id]">{{row.placa}}</a></td> 
                      <td>{{row.chassi}}</td> 
                      <td>{{row.renavam}}</td> 
                      <td>
                        <span *ngIf="row.pessoa"><a [routerLink]="['/Pessoas', row.pessoa.id]">{{row.pessoa.nome}}</a></span>
                          <span *ngIf="row.organizacao"><a [routerLink]="['/Organizacoes', row.organizacao.id]">{{row.organizacao.nome}}</a></span>
                      </td> 
                      <td>                                        
                          <a
                            class="options ml-2"
                            (click)="deleteVeiculo(row.pivot.id)"                           
                            title="Excluir"
                          >
                            <i
                              class="fas fa-trash text-danger point "
                              aria-hidden="true"
                            ></i
                          ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--FIM TABLE-->
            </div>           
          </div>        
        </div>        
      </div>
      <!--FIM MODAL VEICULOS-->

      
      
    </section>
    <!--FIM SECTION content-->
  </div>